<div [ngClass]="{'ui-ltr': ltr$ | async, 'ui-rtl': !(ltr$ | async)}" dir="{{(ltr$ | async) ? 'ltr': 'rtl'}}">
  <header>
    <h2>{{'header-title' | transloco}}</h2>
    <p-selectButton [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name">
      <ng-template let-item>
        <div style="padding: .5em 1em">
          <img style="vertical-align: middle; margin-right: .5em" src="assets/images/flag/{{item.value.flag}}"
            height="20px" />
          <span>{{item.name}}</span>
        </div>
      </ng-template>
    </p-selectButton>

    <app-todo-form style="float: left;"></app-todo-form>
    <app-todo-filter style="float: right;"></app-todo-filter>

  </header>

  <router-outlet></router-outlet>

  <p-toast position="{{(ltr$ | async)?'bottom-right':'bottom-left'}}"></p-toast>
</div>
